<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Time to Stretch!</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../src/styles/settings.css">
    <link rel="stylesheet" href="../src/styles/index.css">
    <script src="../src/js/settings.js"></script>
    <link rel="stylesheet" href="../bower_components/jquery-ui/themes/base/jquery-ui.min.css"></link>
    <script type="text/javascript" src="../bower_components/jquery-ui/jquery-ui.min.js"></script>
  </head>
  <body>
    <h1>Time to Stretch!</h1>
  </body>
</html>
